<nav class="navbar">
    <div class="nav-container">
        <a href="index.html" class="logo" data-nav-link="index.html">YA</a>
        <button class="menu-toggle" aria-label="Toggle menu">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-links">
            <li><a href="index.html" data-nav-link="index.html">Home</a></li>
            <li><a href="projects.html" data-nav-link="projects.html">Projects</a></li>
            <li><a href="experience.html" data-nav-link="experience.html">Experience</a></li>
        </ul>
    </div>
</nav>

